<%= stylesheet_link_tag 'launch/boilerplate.css' %>
<%= stylesheet_link_tag 'campaign/homepage.css' %>
<div id="primaryContainer" class="primaryContainer clearfix">
    <div id="box" class="clearfix">
        <p id="Headline">
        Over $6000 Raised in<br />bounties for progress
        </p>
        <div id="box1" class="clearfix">
        </div>
        <p id="text">
        <span id="textspan">We've all been there: reaching out to a major brand and having our voice ignored. People have tried petitions, trending tweets, and even protests - but how often has anyone actually put money on the line for their cause?<br /><br /></span><span id="textspan1">We inspire brands to take positive action <br />while supporting great causes.</span><br />
        </p>
        <a href='/campaigns/new'>
            <input id="input" type="button" value="Start a nutfund"></input>
        </a>
         <%= image_tag('Polygon-1.png', class: "image", id: "image") %>
    </div>
    <div id="Navbar" class="clearfix">
        <%= image_tag('Logo.png', class: "image", id: "image1") %>
        <div id="box2" class="clearfix">
             <%= image_tag('Logo.png', class: "image", id: "image2") %>
        </div>
    </div>
    <p id="text1">
    Text
    </p>
    <div id="box3" class="clearfix">
        <div id="box4" class="clearfix">
            <div id="box5" class="clearfix">
             <%= image_tag('basket +.svg', class: "image", id: "image3") %>
                <p id="text2">
                Start a nutfund
                </p>
                <p id="text3">
                <span id="textspan2">This bounty's funds will be released to charity: water to help provide clean water to communities around the world. Every day 5,000.</span><br />
                </p>
            </div>
            <div id="box6" class="clearfix">
                <%= image_tag('coins.svg', class: "image", id: "image4") %>
                <p id="text4">
                Raise money
                </p>
                <p id="text5">
                <span id="textspan3">This bounty's funds will be released to charity: water to help provide clean water to communities around the world. Every day 5,000.</span><br />
                </p>
            </div>
            <div id="box7" class="clearfix">
                <%= image_tag('mountain.svg', class: "image", id: "image5") %>
                <p id="text6">
                Gift to charity
                </p>
                <p id="text7">
                <span id="textspan4">This bounty's funds will be released to charity: water to help provide clean water to communities around the world. Every day 5,000.</span><br />
                </p>
            </div>
        </div>
    </div>
    <p id="text8">
    Text
    </p>
    <div id="box8" class="clearfix">
        <div id="box9" class="clearfix">
            <p id="text9">
            So who's behind this?
            </p>
            <p id="text10">
            <span id="textspan5">We're repre</span><span id="textspan6">senting the West Coast in the </span><span id="textspan7">StartupBus North America</span><span id="textspan8"> business competition. We met each other as stran</span><span id="textspan9">gers, brainstormed this idea, then coded it on a bus during a five day roadtrip from San Francisco to Austin, Texas. We are pitching Nutfund at SxSW and are committed its long-term success. </span><br />
            </p>
            <div id="box10" class="clearfix">
                <%= image_tag('carlos.png', class: "image", id: "image6") %>
                <p id="text11">
                Carlos Lagrange
                </p>
                <a href='https://twitter.com/carlosxcl' target='_blank'>
                  <%= image_tag('twitter.svg', class: "image", id: "image7") %>
                </a>
            </div>
            <div id="box11" class="clearfix">
                <%= image_tag('justin.png', class: "image", id: "image8") %>
                <p id="text12">
                Justin Elof
                </p>
                <a href='https://twitter.com/elof' target='_blank'>
                  <%= image_tag('twitter.svg', class: "image", id: "image9") %>
                </a>
            </div>
            <div id="box12" class="clearfix">
                <%= image_tag('blake.png', class: "image", id: "image10") %>
                <p id="text13">
                Blake Benthall
                </p>
                <a href='https://twitter.com/blakeeb' target='_blank'>
                    <%= image_tag('twitter.svg', class: "image", id: "image11") %>
                </a>
            </div>
            <div id="box13" class="clearfix">
                <%= image_tag('yaron.png', class: "image", id: "image12") %>
                <p id="text14">
                Yaron Sadka
                </p>
                <a href='https://twitter.com/yaronsadka' target='_blank'>
                    <%= image_tag('twitter.svg', class: "image", id: "image13") %>
                </a>
            </div>
            <div id="box14" class="clearfix">
                <%= image_tag('kenneth.png', class: "image", id: "image14") %>
                <p id="text15">
                Kenneth Ng
                </p>
                <a href='https://twitter.com/iconcells' target='_blank'>
                    <%= image_tag('twitter.svg', class: "image", id: "image15") %>
                </a>
            </div>
        </div>
    </div>
    <div id="box15" class="clearfix">
        <a href='http://northamerica.startupbus.com' target='_blank'>
            <%= image_tag('bus-256 copy.png', class: "image", id: "image16") %>
        </a>
        <p id="text16">
        Made with love on the startupbus<br /><span id="textspan10">All rights reserved, NutFund 2014</span>
        </p>
    </div>
</div>
