<img class="logo" alt="Logo" src="/assets/nutfund-logo.png" />
<h2>Bounty for good</h2>
<a href="http://twitter.com/thenutfund">< <%= image_tag("tw.png") %> ></a>
<a href="http://facebook.com/nutfund">< <%= image_tag("fb.png") %> ></a>
<ul>
  <% @campaigns.each do |campaign| %>
    <li>
      <%= link_to campaign.name, campaign_path(campaign.id) %>
      <%= p campaign.end_date_nicely %>
      <%= p campaign.funds_raised_in_dollars %>
    </li>
  <% end %>
</ul>
