<h2>Create a Campaign</h2>

<%= simple_form_for @campaign do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :required => true, :autofocus => true %>
    <%= f.input :end_date, :required => true, as: :date %>
    <%= f.input :description, :required => true, as: :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create Campaign" %>
  </div>
<% end %>
