
<div id="primaryContainer" class="primaryContainer clearfix">
    <div id="box" class="clearfix">
        <p id="Headline">
        <span id="textspan"> <%= @campaign.funds_raised_in_dollars %> </span><br />
        </p>
    </div>
    <div id="box1" class="clearfix">
        <img id="image" src="/assets/campaign_pic.png" class="image" />
        <p id="Headline1">
        <span id="textspan1"> <%= @campaign.name %> </span><br />
        </p>
        <p id="Description">
        <span id="textspan2"><%= @campaign.description %> </span><br />
        </p>

        <% if current_user %>
          <button id="Donnate_Button" type="button" value="Donate some nuts">
            <%= link_to 'Support this campaign', new_campaign_payment_path(@campaign.id) %>
          </button>
        <%else%>
          <button id="Donnate_Button" type="button" value="Log in">
            <%= link_to 'Log in', new_user_session_path %>
          </button>
          or 
          <button id="Donnate_Button" type="button" value="sign up">
            <%= link_to 'Sign up', new_user_registration_path %> 
          </button>
          to support the campaign
        <% end %>

        <button id="Donnate_Button1" type="button" value="Share this nutfund"> Share this Nut Fund</button>
    </div>
<!-- Campaign end date: <%= @campaign.end_date_nicely %> -->

<!--         <div id="Navbar" class="clearfix">
        <img id="image1" src="/assets/Logo.png" class="image" />
        <img id="image2" src="/assets/Logo.png" class="image" />
    </div> -->
</div>
