<div class="fixed">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="<%= root_path %>">
            NutFund
          </a>
        </h1>
      </li>

      <li class="toggle-topbar menu-icon">
        <a href="#">Menu</a>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="has-dropdown">
          <a href="#">The Nuts!</a>
          <ul class="dropdown">
            <% if current_user %>
              <li>
                <%= link_to 'Signout',   destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to 'Login', new_user_session_path %>
              </li>
              <li>
                <%= link_to 'Signup', new_user_registration_path %>
              </li>
            <% end %>
          </ul>
        </li>
        <% if current_user %>
          <% if current_user.admin? %>
            <li class="has-dropdown">
              <a href="#">Admin</a>
              <ul class="dropdown">
                <li>
                  <%= link_to 'New Campaign', new_campaign_path %>
                </li>
                <li>
                  <%= link_to 'New Campaign', new_campaign_path %>
                </li>
                <li>
                  <%= link_to 'New Campaign', new_campaign_path %>
                </li>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
